.custom-btn {
    width: 50px; /* Adjust width as needed */
    height: 50px; /* Adjust height as needed */
    background-color: blue;
    color: white;
    border: none;
    margin: 5px; /* Adjust margin as needed */
    font-size: 16px; /* Adjust font size as needed */
}

.custom-red{
    width: 50px; /* Adjust width as needed */
    height: 50px; /* Adjust height as needed */
    background-color: red;
    color: white;
    border: none;
    margin: 5px; /* Adjust margin as needed */
    font-size: 16px; /* Adjust font size as needed */
}

.score-input {
    color: blue; /* Color for the score input */
    /* Add any other styles for the score input */
}

.no-border{
    border: none;
    outline: none; 
    width: 50px; /* Adjust width as needed */
    height: 50px;
    margin: 5px;
}